/*Colores que voy a usar en la pagina
color-primario: #0000ff
color-secundario: #dc143c
color-terciario: #8a2be2
color-cuarto: #7ff00 
*/

/*Estilos para pagina index*/
.titulo{
    color: black;
    text-decoration:underline;
    font-size: small;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 30px 1px 30px;

}
.titulo-de-paginas{ 
    
    margin: 15px 30px 3px 0px;


}

.body{background-image: url(../imagenes/markus-spiske-KWQ2kQtxiKE-unsplash.jpg); 
      background-size: contain;
      background-repeat: no-repeat;
      background-size: cover;


}

.paginas{
    background-color: #ffffff;
    margin: 2px 50px 2px 2px;
    border: 2px chocolate solid;
    padding-left: 17px;
}

.datos{padding-top: 25px;
    padding-bottom: 25px;
    

}

/*Estilos para pagina clubes S:N*/

.body .titulo-principal{background-color: #0000ff;color: #dc143c;text-decoration: underline;
    text-align: center; font-size: medium;

}
.body.clubes{color: black;

}
.main{margin-top: 400px;

}
.footer{
    margin-top: 0px;
    background-color: white;
     text-align: center;
    border: 2px black solid;
    
      
}